body {
  max-width: 12800px;
  /*padding: 1em;*/
  font-family:  Avenir,sans-serif;
  background-color: #240202;
  margin:0;
}
img {
max-width: 100%;
}
header ul{
  list-style:none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  background-color: #FFFFF7;
}
header li{
    font-weight: bold;
}
@media screen and (min-width:800px){
  header ul{
    background-color: #240202;
  }
  header ul a {
    color: white;
    font-size: 20px;
    font-weight: lighter;
  }
  .logo{
    display: block;
    margin-left:0;
  }
}
nav[role=navigation] li a:hover{
    border-bottom:1px solid #c69c6d;
  }
.attract li a:hover{
      border-bottom:1px solid #c69c6d;
}
@media screen and (min-width:800px){
  header {
    display: flex;
    align-items: center;
    flex-wrap:nowrap;
  }
}
/*js*/
a.menu-link {
        float: right;
            display: block;
            padding: 1em;
        }
        nav[role=navigation] {
            clear: both;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }
        .js nav[role=navigation] {
            overflow: hidden;
            max-height: 0;
        }
        nav[role=navigation].active {
            max-height: 30em;
        }
        nav[role=navigation] ul {
            margin-left: 0;
            padding: 0;
            border-top: 1px solid #808080;
        }
        nav[role=navigation] li a {
            display: block;
            padding-left: 0.8em;
            padding-right: 0.8em;
            padding-top:0.8em;
            padding-bottom: 0.2em;
            border-bottom: 1px solid #808080;
        }

        @media screen and (min-width:800px) {
            a.menu-link {
               display: none;
            }
            .js nav[role=navigation] {
                max-height: none;
            }
            nav[role=navigation] ul {
                margin: 0 0 0 30em;
                border: 0;
            }

            nav[role=navigation]  li {
                display: inline-block;
                margin: 0 0.25em;
            }
            nav[role=navigation] li a {
                border: 0;
            }
        }
        /*js*/

.hero-image__container {
    display: flex;
  align-items: center;
  justify-content: center;
    height: 100%;
}

.hero-image__text {
    z-index: 100;
    padding: 1em;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.25em;
    text-align: center;
}

/* All this does is add a 50% black background on top of the image */
/*text on the picture*/
a{
  text-decoration: none;
}
header a{
  font-size: 20px;
  color:#BE905E;
  border-bottom:1px solid #F1DEAA;
}
.logo{
  max-width: 100%;
  width:12%;
  height: 12%;
  display: block;
  margin:0 auto;
  margin-top: 1em;
  padding-left:25px;
  padding-bottom: 10px;
}
/*header content*/
/*scroll js*/
.carousel-cell {
    width: 100%;
}

.carousel-cell img {
    width: 100%;
    height: auto;
}

/* Ensures that Flickity waits until CSS has loaded to calculate the height of the cells */
.carousel:after {
  content: 'flickity';
  display: none; /* hide :after */
}
/*scroll js*/
section{
  padding:2em;
}
.intro{
  background-color: #F1DEAA;
  padding-bottom: 1em;
  margin-bottom: 2em;
}
section h2{
  font-family: avenir;
  font-style: normal;
  font-size: 20px;
}
.imageintro{
  max-width: 600px;
  max-height: 500px;
  overflow:hidden;
  padding-top:2em;
  padding-left: 2em;
  padding-right: 2em;
}
section img{
  border:6px solid #fffff7;
  box-shadow: 3px 3px 1px gray;
}
@media screen and (min-width:800px){
  .intro{
    display: flex;
    flex-wrap:nowrap;
    height: 400px;
    margin-left: 10em;
    margin-right:10em;
  }
  .imageho{
    width:55%;
    overflow: hidden;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
  }
  .logo{
    margin-bottom: 10px;
  }
  .attract h2{
    margin-left: 8em;;
  }
  .bodytext{
        width:50%;
  }
  span p{
    padding-bottom: 2em;
  }
  .attract ul{
    display: flex;
    flex-wrap: nowrap;
    margin-right: 9em;
  }
  .attract li{
    border-right:3px solid #C69C6D;
    padding-left: 10em;
  }
}
.bodytext{
    margin-top:2em;
    padding-left: 2em;
    padding-right: 2em;
}
.more{
  background-color: #C69C6D;
  width:40px;
  margin-left:auto;
  margin-right: 2em;
  margin-bottom:1em;
  padding:3px;
  border-radius:8px;
}
.more a {
  color:white;
}
/*introduction end*/
.honor{
  background-color: #F1DEAA;
}
.imageho{
  max-width: 600px;
  max-height: 500px;
  overflow:hidden;
  padding-top:2em;
  padding-left: 2em;
  padding-right: 2em;
}
.attract{
  color:white;
  padding-right:10px;
  margin-top:5px;
}
.attract h2{
    font-family: Avenir light;
}
section ul li a{
  　text-decoration: none;
    color:white;
    text-indent: 2em;
}
section ul li{
  list-style: none;
}
section ul{
  padding:0;
}
.at{
  /*border-right:3px solid #C69C6D;*/
  padding-right:10px;
  margin-top:5px;
}
/*attraction end*/
footer{
  color:white;
  border-top:3px solid #C69C6D;
  display: flex;
}
footer a{
  color:white;
}
.logob{
  width: 20%;
  height:20%;
  max-width: 100%;
  display: block;
  margin-left: auto;
  padding-top: 1em;
}
footer img{
  display:flex;
  flex-wrap:wrap;
}
footer dl{
  font-size: 13px;
}
footer dt{
  padding-left: 40px;
}
/*footer end*/
.imagesh{
  width:10%;
  height:10%;
}
section h1{
  font-size: 40px;
  color:white;
  font-family:Avenir light;
}
span p,h1{
  color:#BE905E;
  text-align: center;
}
.check a{
  color:white;
  font-size:15px;
}
.check{
  background-color: #C69C6D;
  width:130px;
  margin-bottom:0.3em;
  padding:4px;
  border-radius:8px;
}
.calendar a{
  color:white;
  font-size:15px;
}
  .calendar{
    background-color: #C69C6D;
    width:70px;
    margin-bottom:0.3em;
    padding:4px;
    border-radius:8px;
  }
  .review a{
    color:white;
    font-size:15px;
  }
    .review{
      background-color: #C69C6D;
      width:70px;
      margin-bottom:0.3em;
      padding:4px;
      border-radius:8px;
    }
    /*rooms end*/
    .more2{
      background-color: #C69C6D;
      width:40px;
      margin-bottom:0.5em;
      padding:5px;
      border-radius:8px;
    }
    .more2 a:hover{
      color:red;
    }
    .more2 a{
      color:white;
    }
    .bodytext a:hover{
      color:red;
    }
